<div class="col-xs-12">
    <div class="jumbotron text-center">
        <h1>Add Item Below</h1>
    </div>
    <form name="groceryForm">
        <!-- ng-show will show an element depending on whether or not the containing expression is true or not -->
        <div class="alert alert-danger" role="alert" ng-show="!groceryForm.$valid">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            Enter a valid Grocery Item!
        </div>

        <div class="form-group">
            <input type="text" ng-pattern="/^[a-zA-Z]*$/" class="form-control" placeholder="Grocery Item"
                ng-model="groceryItem.itemName" required>
        </div>

        <div class="form-group">                                          <!--  Just save if the input is valid -->
            <button type="button" class="btn btn-success btn-lg btn-block" ng-click="groceryForm.$valid && save()">
                <span class="glyphicon glyphicon-pushpin"></span>
                Save
            </button>
        </div>

        <div class="form-group">
            <a href="#/" type="button" class="btn btn-default btn-lg btn-block">
                <span class="glyphicon glyphicon-remove"></span>
                Cancel
            </a>
        </div>
    </form>

    {{rp}}

</div>