<div class="row row-centered">
    <div class="col-lg-6 col-sm-12 col-centered">
        <a href="#/addItem" class="btnAdd btn btn-primary btn-lg btn-block">
            <span class="glyphicon glyphicon-plus"></span>
            Add Grocery Item
        </a>
        <ul class="list-group">
            <li ng-repeat="item in groceryItems | orderBy:'-date' " class="list-group-item text-center clearfix">
                <!-- The new TAG generated through JS -->
                <bi-grocery-item></bi-grocery-item>
            </li>
        </ul>
    </div>
</div>
